# Core web framework
Flask

# Database
pymongo
dnspython

# Email functionality
python-dotenv

# Data processing and scientific computing
numpy
pandas
scipy

# Machine Learning
scikit-learn
tensorflow
tensorflow-hub
efficientnet
torch
torchvision
Pillow
opencv-python
opencv-contrib-python

# Deep Learning Specific
tensorflow-addons
joblib
